*{
    margin: 0;
    padding: 0;
}
.container{
    width: 75%;
    height:600px;
    margin:auto ;
    margin-top: 20px;
    padding: 20px;

    background-color: rgb(240, 235, 235);
    border: 0px solid grey ;
    border-radius: 1%;
    box-shadow: 0px 0px 6px 0px grey;

}
.header{
    width: 100%;
    height: 30px;
    margin: auto;

}
.leftside{
     width: 48%;
     height: 100%;
     margin: 10px 0px 0px 10px ;
     background-color: rgb(240, 235, 235);
     float: left;

}
.rightside{
    position: relative;
    width: 50%;
    height: 100%;
    margin: 10px 0px 0px  50%;
    background-color: rgb(240, 235, 235);
   

}
.middle{
    width: 100%;
    height: 90px;
    margin: 10px 0px 0px 0px;

}
.bottomLeft{
    width: 50%;
    height: 30%;

   margin: 10px 0px 0px 0px ;
    float: left;
    display: block;
}
.bottomRight{
    position: relative;
    width: 50%;
    height: 30%;

    margin: 10px 0px 0px 50%;
}
.headings{
    font-size: 16px;
    font-weight: bold;
  

}

.image{
  width: 200px;
  height: 200px;
  
}
/*
.navbar{
  background-color: rgb(237,250,250);
}
.navbar li{
  padding: 15px;
  float: left;
  list-style: none;
  color: black;
}
.navbar ul{
  overflow: auto;
}
.navbar li a{

  text-decoration: none;

}
.navli{

  font-size: 22px;
  font-weight: bold;
}
.image{
  background-image: url(../images/imgNBU.jpg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
.liHome{
  margin-left: 800px;
  color: blue;

}
.navBrand{
  font-size: 26px;
}
